@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #6600ff;
  --secondary: #542994;
  --logocolor: #b13bff;
  --textcolor: #ffcc00;
  --textspencolor: #ffffff;
  --btnhover: #687FE5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bgprimary: var(--primary);
  --color-bgsecondary: var(--secondary);
  --color-bglogo: var(--logocolor);
  --color-txcolor: var(--textcolor);
  --color-txspncolor: var(--textspencolor);
  --color-hoverbtn: var(--btnhover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
